AI_News_Automation.json
{
  "name": "AI News Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0ab4c5e9-84df-4cba-99f7-23237de5a360",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?country=us&category=technology&apiKey=3c85f3c7e88848cca14a5687de82c3bb",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "117fa542-8be3-451b-b113-baf4658788ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1460,
        0
      ],
      "id": "203dffd5-981c-4e5f-8d97-d43dd73a4d76",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1740,
        20
      ],
      "id": "7fc452b6-c1d0-48f0-af78-9de832c699d0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mistralai/mistral-7b-instruct\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Summarize this news and provide sentiment analysis.\"},\n    {\"role\": \"user\", \"content\": \"{{$json[\\\"content\\\"]}}\"}\n  ]\n}\n",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "240f03b7-3754-4509-a647-b6b677c47e5d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "endpoint": "https://app.nhost.io/orgs/hdnbfuvspyunmucmioft/projects/lqrksrgslyeruyurddop/graphql",
        "query": "mutation insertSummary($article_id: UUID!, $summary: String!, $sentiment: String!) {\n  insert_summaries_one(object: {article_id: $article_id, summary_text: $summary, sentiment: $sentiment}) {\n    id\n  }\n}\n",
        "variables": "{\n  \"article_id\": \"{{$json[\\\"id\\\"]}}\",\n  \"summary\": \"{{$json[\\\"choices\\\"][0][\\\"message\\\"][\\\"content\\\"]}}\",\n  \"sentiment\": \"Positive\"\n}\n",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer HASURA_GRAPHQL_ADMIN_SECRET"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "b3934589-50fc-4363-956a-42c83f998d09",
      "name": "GraphQL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "id": "a962ef2c-dcef-4f80-8f69-cf4a042d64af",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eade921-ccc2-4d7f-b8e4-7dd7736e076b",
              "name": "title",
              "value": "{{$json[\"articles\"][0][\"title\"]}}",
              "type": "string"
            },
            {
              "id": "2aefae8d-fba2-424d-a2ce-b1f05c844849",
              "name": "content",
              "value": "{{$json[\"articles\"][0][\"description\"]}}",
              "type": "string"
            },
            {
              "id": "ef8e50de-4e45-4439-b7f8-cbc6559fb7e7",
              "name": "url",
              "value": "{{$json[\"articles\"][0][\"url\"]}}",
              "type": "string"
            },
            {
              "id": "5c70df3d-24b7-4eea-bbe9-d32ee22882d2",
              "name": "source",
              "value": "{{$json[\"articles\"][0][\"source\"][\"name\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "b54138a4-2cfd-40c8-82e0-4d8e0e3794c3",
      "name": "Set"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "status": "ok",
          "totalResults": 37,
          "articles": [
            {
              "source": {
                "id": null,
                "name": "Push Square"
              },
              "author": "Liam Croft",
              "title": "Activision Confirms Tony Hawk's Pro Skater 4 Won't Be Free Roam on PS5, PS4 - Push Square",
              "description": "Two-minute format for Pro Skater 4 confirmed",
              "url": "https://www.pushsquare.com/news/2025/03/activision-confirms-tony-hawks-pro-skater-4-wont-be-free-roam-on-ps5-ps4",
              "urlToImage": "https://images.pushsquare.com/4632ad4868923/1280x720.jpg",
              "publishedAt": "2025-03-07T00:00:00Z",
              "content": "In response to fan concerns, Activision has now confirmed that Tony Hawk's Pro Skater 4 won't ship with the free roam structure of the original game when it launches alongside Pro Skater 3 on PS5, PS… [+1254 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "9to5google.com"
              },
              "author": "Abner Li",
              "title": "Google Search starts rolling out access to AI Mode [Gallery] - 9to5Google",
              "description": "Following yesterday’s announcement, Google is rolling out access to Search’s new AI Mode experiment for Google One AI Premium subscribers.",
              "url": "http://9to5google.com/2025/03/06/google-ai-mode-early-access/",
              "urlToImage": "https://i0.wp.com/9to5google.com/wp-content/uploads/sites/4/2025/03/Google-AI-Mode-early-access-cover.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1",
              "publishedAt": "2025-03-06T22:59:00Z",
              "content": "Following yesterdays announcement, Google is rolling out early access to Searchs new AI Mode experiment for Google One AI Premium subscribers.\r\nAnyone can join the Search Labs waitlist but access is … [+1940 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "MacRumors"
              },
              "author": "Joe Rossignol",
              "title": "Apple Says New MacBook Air Up to 23x Faster Than Intel-Based Model, But Read the Fine Print - MacRumors",
              "description": "Apple has a staggering marketing claim for the new MacBook Air with the M4 chip.   Specifically, Apple says the new MacBook Air is up to 23x faster...",
              "url": "https://www.macrumors.com/2025/03/06/m4-macbook-air-up-to-23x-faster-vs-intel/",
              "urlToImage": "https://images.macrumors.com/t/aVrT4clFLhu11QbK1bLhKBCNi5E=/3840x/article-new/2025/03/Apple-MacBook-Air-hero.jpg",
              "publishedAt": "2025-03-06T21:46:42Z",
              "content": "Apple has a staggering marketing claim for the new MacBook Air with the M4 chip.\r\nSpecifically, Apple says the new MacBook Air is up to 23x faster than the last Intel-based model. However, there are … [+2412 chars]"
            },
            {
              "source": {
                "id": "techcrunch",
                "name": "TechCrunch"
              },
              "author": "Kyle Wiggers",
              "title": "Hugging Face’s chief science officer worries AI is becoming ‘yes-men on servers’ - TechCrunch",
              "description": "Hugging Face co-founder and chief science officer Thomas Wolf thinks that AI today isn't capable of figuring out novel solutions like a human.",
              "url": "https://techcrunch.com/2025/03/06/hugging-faces-chief-science-officer-worries-ai-is-becoming-yes-men-on-servers/",
              "urlToImage": "https://techcrunch.com/wp-content/uploads/2016/11/wtf_is_ai.jpg?resize=1200,675",
              "publishedAt": "2025-03-06T20:42:03Z",
              "content": "AI company founders have a reputation for making bold claims about the technology’s potential to reshape fields, particularly the sciences. But Thomas Wolf, Hugging Face’s co-founder and chief scienc… [+3191 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Kotaku"
              },
              "author": "Ethan Gach",
              "title": "A Bunch Of Excellent Switch Games Are $20 Off For Mario Day - Kotaku",
              "description": "Super Mario Bros. Wonder and more can be picked up at a big discount",
              "url": "https://kotaku.com/switch-bundle-mario-day-sale-mk8-odyssey-wonder-1851768159",
              "urlToImage": "https://i.kinja-img.com/image/upload/c_fill,h_675,pg_1,q_80,w_1200/e1c4975eba738fffb1c475509237067e.jpg",
              "publishedAt": "2025-03-06T20:05:00Z",
              "content": "The day of Mario is nearly upon us. In celebration of the overall-wearing plumber and his ongoing gaming franchise domination, Nintendo has marked down a bunch of Switch games that are normally $60. … [+2042 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "9to5Mac"
              },
              "author": "Ryan Christoffel",
              "title": "Rumor Replay: Major new foldable iPhone details, plus iOS 19 and Siri updates - 9to5Mac",
              "description": "This week’s Rumor Replay covers major developments with Apple’s first foldable iPhone, plus iOS 19 and Siri updates.",
              "url": "https://9to5mac.com/2025/03/06/rumor-replay-iphone-with-foldable-book-style-screen-plus-ios-19-and-siri-updates/",
              "urlToImage": "https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2025/03/rumor-replay-folding-iphone.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1",
              "publishedAt": "2025-03-06T18:56:00Z",
              "content": "This is Rumor Replay, a weekly column at 9to5Mac offering a quick rundown of the most recent Apple product rumors, with analysis and commentary. Today: big developments with Apples first foldable iPh… [+3222 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Eurogamer.net"
              },
              "author": "Matt Wales",
              "title": "RoboCop: Rogue City is getting a standalone expansion and you can play as Alex Murphy - Eurogamer",
              "description": "RoboCop: Rogue City, developer Teyon's warmly received take on the iconic action movie series, is back with a standalon…",
              "url": "https://www.eurogamer.net/robocop-rogue-city-is-getting-a-standalone-expansion-and-you-can-play-as-alex-murphy",
              "urlToImage": "https://assetsio.gnwcdn.com/robocop-unfinished-business.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp",
              "publishedAt": "2025-03-06T18:18:53Z",
              "content": "RoboCop: Rogue City, developer Teyon's warmly received take on the iconic action movie series, is back with a standalone sequel - titled Unfinished Business - that's launching this summer on Xbox Ser… [+1189 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gematsu"
              },
              "author": "Sal Romano",
              "title": "The Last of Us-themed DualSense wireless controller announced - Gematsu",
              "description": "Sony Interactive Entertainment has announced the DualSense Wireless Controller The Last of Us Limited Edition. It will launch in limited quantities on April 10 for $84.99 / €84.99 / £74.99. Pre-ord…",
              "url": "https://www.gematsu.com/2025/03/the-last-of-us-themed-dualsense-wireless-controller-announced",
              "urlToImage": "https://www.gematsu.com/wp-content/uploads/2025/03/TLoU-DualSense_03-06-25_001.jpg",
              "publishedAt": "2025-03-06T17:17:06Z",
              "content": "Sony Interactive Entertainment has announced the DualSense Wireless Controller The Last of Us Limited Edition. It will launch in limited quantities on April 10 for $84.99 / 84.99 / £74.99. Pre-orders… [+988 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "GameSpot"
              },
              "author": "Evan Campbell",
              "title": "GTA 6 Costing $100 Could Reward Players Too, Analysts Argue - GameSpot",
              "description": "Wedbush Securities, with Michael Pachter, believes bundling the new game with GTA Online currency can push the price into new territory.",
              "url": "https://www.gamespot.com/articles/gta-6-costing-100-could-reward-players-too-analysts-argue/1100-6529948/",
              "urlToImage": "https://www.gamespot.com/a/uploads/screen_kubrick/1813/18138562/4454888-4230001-1.jpg",
              "publishedAt": "2025-03-06T17:14:39Z",
              "content": "Rockstar hasn't even released a second trailer yet for Grand Theft Auto VI, but that isn't stopping analysts from again predicting that the highly anticipated game should retail for at least $100. Th… [+2388 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "9to5google.com"
              },
              "author": "Abner Li",
              "title": "Gboard testing circle and pill-shaped keys on Android - 9to5Google",
              "description": "The aesthetic tweaks to Gboard for Android continue with Google introducing circle keys for some beta testers today.",
              "url": "http://9to5google.com/2025/03/06/gboard-circle-keys/",
              "urlToImage": "https://i0.wp.com/9to5google.com/wp-content/uploads/sites/4/2024/06/Gboard-typing-Pixel-8a.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1",
              "publishedAt": "2025-03-06T16:12:00Z",
              "content": "The aesthetic changes to Gboard for Android continue with Google introducing circle or pill-shaped keys for some beta testers today.\r\nInstead of the key borders being rounded rectangles, Gboard is sw… [+1127 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "9to5Mac"
              },
              "author": "Ryan Christoffel",
              "title": "iPhone 16e is a big risk for Apple, and this survey shows exactly why - 9to5Mac",
              "description": "Apple’s new iPhone 16e has a lot going for it, but in both name and price it’s not an iPhone SE. Here’s why that could prove a problem.",
              "url": "https://9to5mac.com/2025/03/06/iphone-16e-is-a-big-risk-for-apple-and-this-survey-shows-exactly-why/",
              "urlToImage": "https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2025/02/What-does-the-e-stand-for-in-iPhone-16e.jpg?resize=1200%2C628&quality=82&strip=all&ssl=1",
              "publishedAt": "2025-03-06T15:43:00Z",
              "content": "Apples new iPhone 16e has a lot going for it, but its not quite the device many were expecting. Both in name and price, its not an iPhone SE. And a new survey of buying habits among Apple customersan… [+2497 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gamersnexus.net"
              },
              "author": null,
              "title": "AMD Radeon RX 9070 XT GPU Review & Benchmarks vs. 5070 Ti, 5070, 7900 XT (Sapphire Pulse) - GamersNexus",
              "description": "GPUs AMD Radeon RX 9070 XT GPU Review & Benchmarks vs. 5070 Ti, 5070, 7900 XT (Sapphire Pulse) March 6, 2025 Last Updated: 2025-03-06 We analyze the 9070 XT’s gaming performance, ray tracing, power consumption, and efficiency against many other video cards Th…",
              "url": "https://gamersnexus.net/gpus/amd-radeon-rx-9070-xt-gpu-review-benchmarks-vs-5070-ti-5070-7900-xt-sapphire-pulse",
              "urlToImage": "https://gamersnexus.net/u/styles/crop_thumbnail/public/2025-03/vlcsnap-2025-03-05-15h08m46s493.jpg",
              "publishedAt": "2025-03-06T15:41:00Z",
              "content": "In ray tracing, its all over the place. This is sort of the downside to the card. AMD has got some real strengths, but its also got some real downsides. The 9070 XT improves massively on AMDs prior g… [+26970 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "MacRumors"
              },
              "author": "Joe Rossignol",
              "title": "Here Are Benchmark Results for Apple's New iPad Air With the M3 Chip - MacRumors",
              "description": "We are eagerly awaiting benchmarks for Apple's fastest-ever M3 Ultra chip in the Mac Studio, but we will have to settle with the first results...",
              "url": "https://www.macrumors.com/2025/03/06/ipad-air-m3-chip-benchmark-results/",
              "urlToImage": "https://images.macrumors.com/t/n8uKVgvfhZ6YJOytHxoojM6b0IM=/1960x/article-new/2025/03/M3-iPad-Air.jpg",
              "publishedAt": "2025-03-06T15:10:27Z",
              "content": "We are eagerly awaiting benchmarks for Apple's fastest-ever M3 Ultra chip in the Mac Studio, but we will have to settle with the first results for the new iPad Air for now.\r\nThe first Geekbench 6 res… [+880 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Eurogamer.net"
              },
              "author": "John Linneman, Oliver Mackenzie, Will Judd",
              "title": "Split Fiction is simply brilliant: PS5, PS5 Pro, PC and Xbox Series X/S tested - Eurogamer",
              "description": "John and Oliver join forces to deliver the DF tech review of Split Fiction. How does it perform on all platforms, from PS5 and PS5 Pro to PC and Series X/S?",
              "url": "https://www.eurogamer.net/digitalfoundry-2025-split-fiction-is-simply-brilliant-ps5-ps5-pro-pc-and-xbox-series-xs-tested",
              "urlToImage": "https://assetsio.gnwcdn.com/SPLIT-SITE_IkHXExm.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp",
              "publishedAt": "2025-03-06T15:02:47Z",
              "content": "Split Fiction is one of the best co-op games we've played recently, offering sharp split-screen gameplay across a wide range of platforms, including PS5, PS5 Pro, PC and Xbox Series X/S. Perhaps that… [+3763 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Thegamepost.com"
              },
              "author": null,
              "title": "Destiny 2 Rite of the Nine Event Explained: Release Date, Loot, Modes, Weekly Rotations - Everything We Know - TheGamePost",
              "description": "Destiny 2 Rite of the Nine event is a brand-new, limited-time activity coming in Episode Heresy Act 3. Here's everything we know about this free event.",
              "url": "https://thegamepost.com/destiny-2-rite-of-the-nine-explained/",
              "urlToImage": "https://thegamepost.com/wp-content/uploads/2025/03/destiny-2-rite-of-the-nine-explained-8.webp",
              "publishedAt": "2025-03-06T14:45:19Z",
              "content": "Destiny 2 Rite of the Nine event is a brand-new, limited-time activity coming in Episode Heresy Act 3. Heres everything we know about this free event.\r\nDestiny 2 Episode Heresy has been packed with n… [+5278 chars]"
            },
            {
              "source": {
                "id": "associated-press",
                "name": "Associated Press"
              },
              "author": null,
              "title": "Angry Birds, Frogger and others are finalists for the World Video Game Hall of Fame - The Associated Press",
              "description": "The World Video Game Hall of Fame has revealed its 12 finalists for 2025. Members of the public have a week to vote for their favorites online. The finalists are: Age of Empires, Angry Birds, Call of Duty 4: Modern Warfare, Defender, Frogger, Golden Eye, Gold…",
              "url": "https://apnews.com/article/2025-video-game-hall-fame-finalists-museum-6f6eb55faac281f87c1db1458978ddf5",
              "urlToImage": "https://dims.apnews.com/dims4/default/e321db8/2147483647/strip/true/crop/3900x2194+0+429/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fdc%2F24%2Feba1849ae8ce189630962441a8f7%2F348fa0d0132d41d8bed05e335f4a1ff7",
              "publishedAt": "2025-03-06T14:32:00Z",
              "content": "ROCHESTER, N.Y. (AP) This years finalists for the World Video Game Hall of Fame include trailblazers in esports, electronic pets and portable gaming, as well as the arcade favorite brought to life in… [+3065 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "MacRumors"
              },
              "author": "Joe Rossignol",
              "title": "'iPhone 17 Air' Rumored to Feature 'High-Density' Battery - MacRumors",
              "description": "In a blog post today about Apple's foldable iPhone plans, Apple supply chain analyst Ming-Chi Kuo said the rumored iPhone 17 Air will have a...",
              "url": "https://www.macrumors.com/2025/03/06/iphone-17-air-high-density-battery-rumor/",
              "urlToImage": "https://images.macrumors.com/t/VwE5TTfe7ba7GCaoqKtu0zh6qO4=/2500x/article-new/2025/03/iPhone-17-Air-Size-Feature.jpg",
              "publishedAt": "2025-03-06T14:06:30Z",
              "content": "In a blog post today about Apple's foldable iPhone plans, Apple supply chain analyst Ming-Chi Kuo said the rumored iPhone 17 Air will have a \"high-density\" battery.\r\nSpecifically, he said that Apple'… [+830 chars]"
            },
            {
              "source": {
                "id": "the-verge",
                "name": "The Verge"
              },
              "author": "Emma Roth",
              "title": "DuckDuckGo is amping up its AI search tool — but will still let you leave it behind - The Verge",
              "description": "DuckDuckGo has announced that its AI tools, including AI-assisted answers and Duck.ai chatbot, have exited beta.",
              "url": "https://www.theverge.com/news/624899/duckduckgo-ai-search-chatbot-plans",
              "urlToImage": "https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/23932932/acastro_STK117__02.jpg?quality=90&strip=all&crop=0%2C10.732984293194%2C100%2C78.534031413613&w=1200",
              "publishedAt": "2025-03-06T13:00:00Z",
              "content": "You can still choose how often you see AI-assisted answers, which now incorporate results from the web.\r\nYou can still choose how often you see AI-assisted answers, which now incorporate results from… [+3058 chars]"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cecb25a6-954c-4e22-a132-4cf4c5f695e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ee6383da21a784af4e0ac32249d8697c195ee41df796b8657ecee35398f5bad"
  },
  "id": "3WZNuZ96njVI6DU3",
  "tags": []
}